{% load static %}
{% for book in books %}

<div class="modal fade" id="card{{book.books.id}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="card{{book.books.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="card{{book.books.id}}">{{book.books.title}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ book.books.path.url }}" alt="{{ book.books.title }}">
            </div>
            <div class="modal-footer">
                {% if user.is_authenticated %}
                <a href="{% url 'like_book' book.books.id %}" id="likeButton" class="like-button {% if liked %}liked{% endif %}">
                    <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %}" aria-hidden="true"></i>
                    <div id="btlike" onclick="liked()">    
                        {% if liked %}
                            <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#fff" stroke="#000" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ book.books.total_likes }}
                        {% else %}
                            <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#fff" stroke="#000" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ book.books.total_likes }}
                        {% endif %}
                    </div>
                {% else %}
                    Login para comentar
                {% endif %}
                </a>
                <form method="post" action="{% url 'comment_book' book.books.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="content" rows="3" placeholder="Adicionar comentário"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Comentar</button>
                </form>
                <h5 class="mt-4">Comentários:</h5>
                {% for comment in book.comments %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                            <p class="card-text"><small class="text-muted">por {{ comment.user.username }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}